asgiref==3.8.1
bcrypt==5.0.0
certifi==2025.11.12
cffi==2.1.0
charset-normalizer==3.4.4
colorama==0.4.6
crispy-bootstrap5==2025.6
defusedxml==0.7.1
dj-database-url==3.1.2
Django==5.2.8
django-autoslug==1.9.9
django-crispy-forms==2.4
django-filter==25.2
django-tinymce==4.1.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
et_xmlfile==2.0.0
gunicorn==26.0.0
httpie==3.2.4
idna==3.11
lxml==6.1.1
markdown-it-py==4.0.0
mdurl==0.1.2
multidict==6.7.0
multipledispatch==1.0.0
numpy==2.5.1
oauthlib==3.3.1
openpyxl==3.1.5
packaging==26.2
pandas==3.0.5
pillow==11.2.1
psycopg2-binary==2.9.12
pycparser==3.0
Pygments==2.19.2
PyJWT==2.10.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.2
requests==2.32.5
requests-toolbelt==1.0.0
rich==14.2.0
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.16.0
tzdata==2025.1
urllib3==2.6.2
whitenoise==6.12.0